@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
  }

  body {
    @apply bg-surface text-dark font-arabic antialiased;
  }

  h1,
  h2,
  h3 {
    @apply text-dark font-arabic;
  }

  .latin {
    @apply font-latin;
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 rounded-xl
           bg-primary text-white
           hover:bg-primary-80
           transition-all duration-300;
  }

  .card {
    @apply bg-white rounded-2xl shadow-card p-6;
  }

  .section {
    @apply py-16 md:py-24;
  }
}
@font-face {
  font-family: "GE SS";
  src: url("../../public/fonts/GE-SS/GE\ SS\ Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "GE SS";
  src: url("../../public//fonts/GE-SS/GE\ SS\ Bold.otf") format("opentype");
  font-weight: 700;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: #231F20;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background-color: #a98a5b;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8844c;
  cursor: pointer;
}
.glass-card {
  background: radial-gradient(
    ellipse at bottom,
    #f8f3ef 10%,
    #f3eae5 40%,
    #d0b49f 100%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4);
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

body{
  background: radial-gradient(
    ellipse at bottom,
    #f8f3ef 10%,
    #f3eae5 40%,
    #d0b49f 100%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4);
}